


DotNet8_Adventures/Vectorization_01/ConsoleApp1/.vs
DotNet8_Adventures/Vectorization_01/ConsoleApp1/ConsoleApp1/bin
DotNet8_Adventures/Vectorization_01/ConsoleApp1/ConsoleApp1/obj


DotNet8_Adventures/Vectorization_02/Project1/.vs
DotNet8_Adventures/Vectorization_02/Project1/Project1/bin
DotNet8_Adventures/Vectorization_02/Project1/Project1/obj